<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    <h1>Inicio</h1>
    <div th:if="${personas != null and !personas.empty} ">
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Celular</th>
        </tr>
        <tr th:each="pers : ${personas}">
            <td><span th:text="${pers.getNombre()}">Mostrar Nombre</span></td>
            <td><span th:text="${pers.getApellido()}">Mostrar Apellido</span></td>
            <td><span th:text="${pers.getCorreo()}">Mostrar Correo</span></td>
            <td><span th:text="${pers.getCelular()}">Mostrar Celular</span></td>
        </tr>
    </table>
    </div>

    <div th:if="${personas == null and personas.empty}">
        La lista esta Vacía
    </div>
</body>
</html>